*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #012619;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.boton{
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight:bolder;
    font-size: 20px;
    text-align:left;
    color: #04D976;
    padding-left: 20px;
    padding-top: 20px;
}
.titulo{
    color: #04D976;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight:bolder;
    font-size: 100px;
    text-align:right;
    padding-right: 10px;
    padding-left: 200px;
    padding-top: 30px;

}
.parrafoinicio{
    color: #04D976;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight:500;
    font-size: 20px;
    text-align:right;
    padding-right: 10px;
    padding-left: 200px;
    padding-top: 30px;
}
nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight:700;
    font-size: 40px;
    color: #04D976;
}
.container{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 60px;
}
.container > li > a{
    display:block;
    color: #04D976;
    text-decoration: none;
}
.container2{
    position: absolute;
    display:none;
    list-style: none;
    width: 407px;
}
.container li:hover .container2{
    display: block;
}
.container2 li a{
    display: block;
    color: #04D976;
    text-decoration: none;
}

