@font-face {
    font-family: 'N27-Medium';
    src: url('../FONT/N27-Medium.woff2') format('woff2'),
         url('../FONT/N27-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'N27-MediumItalic';
    src: url('../FONT/N27-MediumItalic.woff2') format('woff2'),
         url('../FONT/N27-Medium.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'N27-Bold';
    src: url('../FONT/N27-Bold.woff2') format('woff2'),
         url('../FONT/N27-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'N27-Regular';
    src: url('../FONT/N27-Regular.woff2') format('woff2'),
         url('../FONT/N27-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'N27-RegularItalic';
    src: url('../FONT/N27-RegularItalic.woff2') format('woff2'),
         url('../FONT/N27-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container {
    width: 100%;
    height: 100%;
  }
  
  .menu {
    width: 100%;
    margin: 17.5em 0;
  }
  
  .menu-item {
    width: 100%;
    padding: 0 2em;
    display: flex;
    cursor: pointer;
  }
  
  p {
    position: absolute;
    top: 0%;
    width: 100%;
    font-family: "N27-Medium";
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: -0.025em;
    transition: color 0.25s;
  }
  
  .info,
  .tag,
  .name {
    position: relative;
    overflow: hidden;
  }
  
  .info,
  .tag {
    flex: 1;
    height: 14px;
    font-size: 14px;
  }
  
  .tag {
    text-align: right;
  }
  
  .name {
    flex: 4;
    height: 55px;
    font-size: 60px;
    text-align: center;
  }
  
  .info p:nth-child(2),
  .name p:nth-child(2),
  .tag p:nth-child(2) {
    top: 100%;
    color: #000;
  }
  
  .menu:hover .info p:nth-child(1),
  .menu:hover .name p:nth-child(1),
  .menu:hover .tag p:nth-child(1) {
    color: rgb(165, 165, 165);
  }
  
  .preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    height: 275px;
    z-index: 2;
    pointer-events: none;
  }
  
  .preview-img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .preview-img-2 {
    top: 20px;
    left: 20px;
  }
  
  .preview-img img {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  .container {
    width: 100vw;
    min-height: 10vh;
    background: var(--colors-background);
  }
  
  .container#dark {
    background: var(--colors-primary);
  }
  
  .gradient {
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    background: var(--colors-background);
    background: linear-gradient(
      0deg,
      rgba(40, 40, 40, 0) 0%,
      var(--colors-background) 100%
    );
  }
  
  /* nav */
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
    z-index: 1000000 !important;
  }
  
  nav#light a {
    color: var(--colors-background);
  }
  
  nav .nav-links {
    display: flex;
  }
  
  nav .nav-logo .nav-link,
  nav .nav-links .nav-link {
    padding: 1rem;
    font-family: "N27-Bold";
  }
  
  nav .nav-logo {
    font-size: 1rem;
  }
  
  nav a {
    text-decoration: none; /* Remove underline */
    color: #000000; /* Purple color */
  }
  
  nav .nav-link {
    text-decoration: none;
    color: #000000; /* Purple color */
  }


  .menu-item {
    display: flex;
    cursor: pointer;
    width: 100%;
    padding: 0 2em;
    color: #000;
    text-decoration: none; /* Ensure links have no text decoration */
  }
  
  .menu-item .info,
  .menu-item .name,
  .menu-item .tag {
    position: relative;
    overflow: hidden;
  }
  
  .menu-item .info,
  .menu-item .tag {
    flex: 1;
    height: 14px;
    font-size: 14px;
  }
  
  .menu-item .name {
    flex: 4;
    height: 55px;
    font-size: 60px;
    text-align: center;
  }
  
  .menu-item .info p:nth-child(2),
  .menu-item .name p:nth-child(2),
  .menu-item .tag p:nth-child(2) {
    top: 100%;
    color: #000;
  }
  
  .menu:hover .menu-item .info p:nth-child(1),
  .menu:hover .menu-item .name p:nth-child(1),
  .menu:hover .menu-item .tag p:nth-child(1) {
    color: rgb(165, 165, 165);
  }
  
  .menu-item:hover .info p:nth-child(1),
  .menu-item:hover .name p:nth-child(1),
  .menu-item:hover .tag p:nth-child(1) {
    color: rgb(165, 165, 165);
    text-decoration: none;
  }