*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: white;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.boton{
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight:bolder;
    font-size: 20px;
    text-align:left;
    color: #04D976;
    padding-left: 20px;
    padding-top: 20px;
}
.contenedor{
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 6fr;
    grid-gap: 20px;
}
.texto{
    text-align: justify;
    color: #04D976;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight:500;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 20px;
}
#titulo{
    color: #d93604;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight:bolder;
    text-align: right;
    font-size: 100px;
    padding-left: 20px;
    padding-top: 30px;
}
.fechas{
    color: #01401C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight: 700;
    text-align: right;
    font-style: italic;
    font-size: 15px;
    padding-left: 20px;
}
.subtitulo{
    color: #04D976;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight:bolder;
    text-align: left;
    font-size: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
}
.boton2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight:bold;
    font-size: 25px;
    text-align:right;
    color: #04D976;
    padding-top: 20px;
    padding-right: 10px;
}
.textoprincipal{
    grid-column: 2/3;
    grid-row: 1/2;
}
